.game-layout {
  width: 100%;
  height: 100%;
  position: relative;
}

.game-platform {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: top 2s;
  transition-delay: 1s;
}

.item-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-group.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.regex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 20%;
  align-self: stretch;
}

.regex-character {
  height: 120px;
  position: absolute;
  top: calc(10% - 60px);
  transition: left 1s;
  width: 20%;
  display: flex;
  justify-content: center;
}
.regex-character img {
  height: 120px;
  width: 55px;
  image-rendering: optimizeSpeed;
}

.regex-character.face-left img {
  transform: rotateY(180deg);
}

.regex-footprint, .regex-footprint img {
  height: 200px;
  image-rendering: optimizeSpeed;
}

.last-platform {
  position: relative;
}

.cash {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  position: absolute;
  top: -80px;
}

.cash img {
  height: 80px;
  width: 160px;
  image-rendering: optimizeSpeed;
}

.win-label {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  font-size: 72px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 4px black;
}

.regex-item {
  flex: 1;
  border: 4px solid black;
  margin: 0 0.5px;
  padding: 15px 5px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  pointer-events: none;
}

.regex-item.is-match {
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.regex-item.is-false-match {
  animation-name: hide;
  animation-duration: 1s;
}

.regex-floor {
  width: 100%;
  height: 200px;
  background-color: #222;
}

@keyframes fade {
  from {
    opacity: 1;
    
  }
  to {
    opacity: 0.2;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotate(20deg) scale(0);
  }
}
