.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #76B290;
  height: 100vh;
}

.game .box {
  background-color: #A9D1BC;
  margin: 10px;
  border-radius: 5px;
  align-self: stretch;
  overflow: hidden;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.instruction-box {
  flex: 3;
}

.game-box {
  flex: 4;
}

@media (max-width: 1000px) {
  .game {
    height: auto;
    flex-direction: column;
  }
}
