.game {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2C6E49;
  height: 100vh;
}

.game .box {
  flex: 1;
  background-color: #4C956C;
  margin: 10px;
  border-radius: 5px;
  align-self: stretch;
  overflow: hidden;
  padding: 10px;
}
